.clearfix { clear:  both; }
.fl-left { float: left; }
.fl-right { float: right; }

.gutters {
	margin: 5px auto;
}

.ta-left { text-align: left; }
.ta-right { text-align: right; }
.ta-center { text-align: center; }
.ta-justify { text-align: justify; }

.va-top { vertical-align: top; }
.va-mid { vertical-align: middle; }
.va-middle { vertical-align: middle; }
.va-bottom { vertical-align: bottom; }

.wd-100 { box-sizing: border-box; width: 100%; }
.wd-95 { box-sizing: border-box; width: 95%; }
.wd-90 { box-sizing: border-box; width: 90%; }
.wd-80 { box-sizing: border-box; width: 80%; }
.wd-75 { box-sizing: border-box; width: 75%; }
.wd-70 { box-sizing: border-box; width: 70%; }
.wd-65 { box-sizing: border-box; width: 65%; }
.wd-60 { box-sizing: border-box; width: 60%; }
.wd-55 { box-sizing: border-box; width: 55%; }
.wd-50 { box-sizing: border-box; width: 50%; }
.wd-48 { box-sizing: border-box; width: 48%; }
.wd-47 { box-sizing: border-box; width: 47%; }
.wd-45 { box-sizing: border-box; width: 45%; }
.wd-40 { box-sizing: border-box; width: 40%; }
.wd-35 { box-sizing: border-box; width: 35%; }
.wd-33 { box-sizing: border-box; width: 33%; }
.wd-30 { box-sizing: border-box; width: 30%; }
.wd-25 { box-sizing: border-box; width: 25%; }
.wd-20 { box-sizing: border-box; width: 20%; }
.wd-15 { box-sizing: border-box; width: 15%; }
.wd-10 { box-sizing: border-box; width: 10%; }
.wd-5 { box-sizing: border-box; width: 5%; }

.mnw-full { box-sizing: border-box; min-width: 100%; margin: auto; }
.mnw-95 { box-sizing: border-box; min-width: 95%; margin: auto; }
.mnw-90 { box-sizing: border-box; min-width: 90%; margin: auto; }
.mnw-85 { box-sizing: border-box; min-width: 85%; margin: auto; }
.mnw-80 { box-sizing: border-box; min-width: 80%; margin: auto; }
.mnw-75 { box-sizing: border-box; min-width: 75%; margin: auto; }
.mnw-70 { box-sizing: border-box; min-width: 70%; margin: auto; }

.mxw-95 { box-sizing: border-box; max-width: 95%; margin: auto; }
.mxw-90 { box-sizing: border-box; max-width: 90%; margin: auto; }
.mxw-85 { box-sizing: border-box; max-width: 85%; margin: auto; }
.mxw-80 { box-sizing: border-box; max-width: 80%; margin: auto; }
.mxw-75 { box-sizing: border-box; max-width: 75%; margin: auto; }
.mxw-70 { box-sizing: border-box; max-width: 70%; margin: auto; }

.pd-10 { padding: 10px; }
.pd-8 { padding: 8px; }
.pd-7 { padding: 7px; }
.pd-6 { padding: 6px; }
.pd-5 { padding: 5px; }
.pd-4 { padding: 4px; }
.pd-3 { padding: 3px; }

.bord { border:  1px solid red; }
.bord2 { border:  1px dashed #ccc; }

.ww-breakword { word-wrap: break-word; }

.mrgn-0 { margin: 0px auto; }
.mrgn-bt-0 { margin-bottom: 0px; }
.mrgn-tp-0 { margin-top: 0px; }

.padd-0 { padding: 0px auto; }
.padd-bt-0 { padding-bottom: 0px }
.padd-tp-0 { padding-top: 0px }

.txt-trans-title { text-transform: capitalize; }
.txt-trans-upper { text-transform: uppercase; }
.txt-trans-lower { text-transform: lowercase; }