@import 'https://fonts.googleapis.com/css?family=Roboto';

html {
    color: #222;
    font-size: 100%; /*1em=14px*/
    font-family: "proxima-nova",'Roboto','Helvetica Neue', sans-serif;    
}

#logo-wrapper {
	background-color: #fff;
}

#logo-wrapper--inner {

}

#logo-wrapper__main {

}

#logo-wrapper__social {
	padding-top: 0.4em;
}

#logo-wrapper__social img {
	margin-right: 0.4em;
}

header {
	background-color:#fabc01; /*#f1f1f1*/
	color: #272727; /*#4a4a4a;#fff;*/
	min-height:250px;
	display: block;
	margin-top:0.75em;
}

#header-wrapper {
	border:1px solid #fabc01;
}

#header-wrapper p {
	padding:0px;
	margin:0px;
	line-height:1.15em;
	margin-top:4em;
}

#header-wrapper h1.md-display-2 {
	padding:0px;
	margin:0px;
	line-height:1.3em;
}

#header-wrapper h1.md-display-2.header-title {
	margin-top:1.85em;
}

#header-wrapper span {
	padding:0px;
	margin:0px;
	line-height:1em;	
}

#breadcrumb-wrapper {
	margin-top: -1.65em;
}

#backToTop-wrapper {
	/*margin-bottom: -1.65em;	*/
}

.jk-carousel {
	width: 100% !important;
	z-index: 1;
}

.jk-carousel .radio-buttons-container {
	display: none;
}

footer {
	background-color: #000;
	color: #fff;
	min-height:200px;
	display: block;
}

footer md-content {
	background-color: #000;
	color: #fff;
	padding-top:0.9em;
}

.footer-nav-list {
	list-style-type: none;
	padding: 0px;
}

.footer-nav-list li a {
	font-size: 1em;
	font-weight: 600;
	text-decoration: none;
	padding: 1px;
	text-transform: uppercase;
	color: #fff;
}

.footer-nav-list li:hover a,
.footer-nav-list li a:hover {
	color: #fabc01;
}

.footer-secretariat-contact {
    padding-top: 1em;
}

.footer-secretariat-contact p,
.footer-secretariat-contact span {
	font-size: 0.75em;
	color: #fff;
}

#subscribe-email {
	padding: 0.35em;
	margin-right: -0.2em;
	border-radius: 5px 0px 0px 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
}

#home-statements {
	/*background-color:#234b70;*/
	color: #fff;
	min-height:350px;
	display: block;
	background: rgba(35,75,112,1);
	background: -moz-linear-gradient(left, rgba(35,75,112,1) 0%, rgba(35,75,112,1) 50%, rgba(35,75,112,1) 51%, rgba(35,75,112,1) 71%, rgba(17,37,55,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(35,75,112,1)), color-stop(50%, rgba(35,75,112,1)), color-stop(51%, rgba(35,75,112,1)), color-stop(71%, rgba(35,75,112,1)), color-stop(100%, rgba(17,37,55,1)));
	background: -webkit-linear-gradient(left, rgba(35,75,112,1) 0%, rgba(35,75,112,1) 50%, rgba(35,75,112,1) 51%, rgba(35,75,112,1) 71%, rgba(17,37,55,1) 100%);
	background: -o-linear-gradient(left, rgba(35,75,112,1) 0%, rgba(35,75,112,1) 50%, rgba(35,75,112,1) 51%, rgba(35,75,112,1) 71%, rgba(17,37,55,1) 100%);
	background: -ms-linear-gradient(left, rgba(35,75,112,1) 0%, rgba(35,75,112,1) 50%, rgba(35,75,112,1) 51%, rgba(35,75,112,1) 71%, rgba(17,37,55,1) 100%);
	background: linear-gradient(to right, rgba(35,75,112,1) 0%, rgba(35,75,112,1) 50%, rgba(35,75,112,1) 51%, rgba(35,75,112,1) 71%, rgba(17,37,55,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#234b70', endColorstr='#112537', GradientType=1 );
}

#home-statements .jk-carousel {
	background: url('../images/statement-pullquote-icon.png') no-repeat;
	background-position: top left;
	background-size: 200px;
}

a {
	color: rgba(35,75,112,1);
	outline: none;
}

.navLink {
	color: rgba(35,75,112,1);	
	font-size: 0.8em;
}

.navLink:hover {
	cursor: pointer;
}

.fnt--bluepalette { color: rgba(35,75,112,1); }
.fnt--bluepalette__linkHover { color:#000; }
.fnt--bluepalette__linkHover:hover { color: #1d5aa2; }

#principles-list li {
	padding:5px;
}

#home-newsfeature-photo {
	background: rgba(0,0,0,0), url('../images/home-news-feature/2016/10/18/lgu-2016-roadshow-feature.png');
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-news-feature/2016/10/18/lgu-2016-roadshow-feature.png');
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(47%, rgba(0,0,0,0.08)), color-stop(81%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0.74))), url('../images/home-news-feature/2016/10/18/lgu-2016-roadshow-feature.png');
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-news-feature/2016/10/18/lgu-2016-roadshow-feature.png');
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-news-feature/2016/10/18/lgu-2016-roadshow-feature.png');
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-news-feature/2016/10/18/lgu-2016-roadshow-feature.png');
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-news-feature/2016/10/18/lgu-2016-roadshow-feature.png');
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
	max-height: 450px;
	height: 450px;
	max-width: 430px;
	opacity: 0.85;
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .5s ease;    
}

#home-newsfeature-photo h1 {
	color: #fff;
	line-height: 0.9em;
	margin:10em 0.5em 0em 0.5em
}

#home-newsfeature-photo:hover {
    cursor: pointer;
    background-size: 120% 120%;    
    opacity:1;
}

#home-newsfeature-photo:hover{
	
}

.sitepalette-yellow { background-color: #fabc01; }
.sitepalette-blue { background-color: #1e4161; }
.sitepalette-brown { background-color: #443d28 }


#home-activitiesfeature-photo {
	/*background: rgba(0,0,0,0), url('../images/home-activities-feature/2016/07/10/4th-nat-con.png');*/
	background: rgba(0,0,0,0), url('../images/home-activities-feature/2016/10/10/2016-LGU-Roadshow-ENRDMT-Training.png');
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-activities-feature/2016/10/10/2016-LGU-Roadshow-ENRDMT-Training.png');
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(47%, rgba(0,0,0,0.08)), color-stop(81%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0.74))), url('../images/home-activities-feature/2016/10/10/2016-LGU-Roadshow-ENRDMT-Training.png');
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-activities-feature/2016/10/10/2016-LGU-Roadshow-ENRDMT-Training.png');
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-activities-feature/2016/10/10/2016-LGU-Roadshow-ENRDMT-Training.png');
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-activities-feature/2016/10/10/2016-LGU-Roadshow-ENRDMT-Training.png');
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-activities-feature/2016/10/10/2016-LGU-Roadshow-ENRDMT-Training.png');
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
	max-height: 531px;
	height: 531px;
	max-width: 355px;

	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.85;
    transition: all .5s ease;    
}

#home-activitiesfeature-photo:hover {
	cursor: pointer;
    background-size: 120% 120%;    
    opacity: 1;
}

#home-activitiesfeature-photo h1 {
	margin-top: 11em;
}

#grid-progress-report {
	/*background: rgba(35,75,112,1), url('../images/home-activities-feature/2016/07/10/eiti-prog-report-2016.png');
	background: -moz-linear-gradient(45deg, rgba(35,75,112,1) 0%, rgba(35,75,112,0.95) 51%, rgba(35,75,112,0.93) 71%, rgba(35,75,112,0.9) 100%), url('../images/home-activities-feature/2016/07/10/eiti-prog-report-2016.png');
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(35,75,112,1)), color-stop(51%, rgba(35,75,112,0.95)), color-stop(71%, rgba(35,75,112,0.93)), color-stop(100%, rgba(35,75,112,0.9))), url('../images/home-activities-feature/2016/07/10/eiti-prog-report-2016.png');
	background: -webkit-linear-gradient(45deg, rgba(35,75,112,1) 0%, rgba(35,75,112,0.95) 51%, rgba(35,75,112,0.93) 71%, rgba(35,75,112,0.9) 100%), url('../images/home-activities-feature/2016/07/10/eiti-prog-report-2016.png');
	background: -o-linear-gradient(45deg, rgba(35,75,112,1) 0%, rgba(35,75,112,0.95) 51%, rgba(35,75,112,0.93) 71%, rgba(35,75,112,0.9) 100%), url('../images/home-activities-feature/2016/07/10/eiti-prog-report-2016.png');
	background: -ms-linear-gradient(45deg, rgba(35,75,112,1) 0%, rgba(35,75,112,0.95) 51%, rgba(35,75,112,0.93) 71%, rgba(35,75,112,0.9) 100%), url('../images/home-activities-feature/2016/07/10/eiti-prog-report-2016.png');
	background: linear-gradient(45deg, rgba(35,75,112,1) 0%, rgba(35,75,112,0.95) 51%, rgba(35,75,112,0.93) 71%, rgba(35,75,112,0.9) 100%), url('../images/home-activities-feature/2016/07/10/eiti-prog-report-2016.png');
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#234b70', endColorstr='#234b70', GradientType=1 );*/
	background: rgba(35,75,112,1), url('../images/home-activities-feature/2016/07/10/eiti-prog-report-2016.png');
	background: -moz-linear-gradient(45deg, rgba(35,75,112,1) 0%, rgba(35,75,112,0.88) 50%, rgba(35,75,112,0.82) 71%, rgba(35,75,112,0.75) 100%), url('../images/home-activities-feature/2016/07/10/eiti-prog-report-2016.png');
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(35,75,112,1)), color-stop(50%, rgba(35,75,112,0.88)), color-stop(71%, rgba(35,75,112,0.82)), color-stop(100%, rgba(35,75,112,0.75))), url('../images/home-activities-feature/2016/07/10/eiti-prog-report-2016.png');
	background: -webkit-linear-gradient(45deg, rgba(35,75,112,1) 0%, rgba(35,75,112,0.88) 50%, rgba(35,75,112,0.82) 71%, rgba(35,75,112,0.75) 100%), url('../images/home-activities-feature/2016/07/10/eiti-prog-report-2016.png');
	background: -o-linear-gradient(45deg, rgba(35,75,112,1) 0%, rgba(35,75,112,0.88) 50%, rgba(35,75,112,0.82) 71%, rgba(35,75,112,0.75) 100%), url('../images/home-activities-feature/2016/07/10/eiti-prog-report-2016.png');
	background: -ms-linear-gradient(45deg, rgba(35,75,112,1) 0%, rgba(35,75,112,0.88) 50%, rgba(35,75,112,0.82) 71%, rgba(35,75,112,0.75) 100%), url('../images/home-activities-feature/2016/07/10/eiti-prog-report-2016.png');
	background: linear-gradient(45deg, rgba(35,75,112,1) 0%, rgba(35,75,112,0.88) 50%, rgba(35,75,112,0.82) 71%, rgba(35,75,112,0.75) 100%), url('../images/home-activities-feature/2016/07/10/eiti-prog-report-2016.png');
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#234b70', endColorstr='#234b70', GradientType=1 );
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .5s ease;    
}

#grid-progress-report:hover {
	cursor: pointer;
    background-size: 150% 150%;    
}

#grid-mgb {
	background: rgba(68,61,40,1), url('../images/home-activities-feature/2016/07/10/mgb-industry-stats.png');
	background: -moz-linear-gradient(45deg, rgba(68,61,40,1) 0%, rgba(68,61,40,0.95) 51%, rgba(68,61,40,0.93) 71%, rgba(68,61,40,0.9) 100%), url('../images/home-activities-feature/2016/07/10/mgb-industry-stats.png');
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(68,61,40,1)), color-stop(51%, rgba(68,61,40,0.95)), color-stop(71%, rgba(68,61,40,0.93)), color-stop(100%, rgba(68,61,40,0.9))), url('../images/home-activities-feature/2016/07/10/mgb-industry-stats.png');
	background: -webkit-linear-gradient(45deg, rgba(68,61,40,1) 0%, rgba(68,61,40,0.95) 51%, rgba(68,61,40,0.93) 71%, rgba(68,61,40,0.9) 100%), url('../images/home-activities-feature/2016/07/10/mgb-industry-stats.png');
	background: -o-linear-gradient(45deg, rgba(68,61,40,1) 0%, rgba(68,61,40,0.95) 51%, rgba(68,61,40,0.93) 71%, rgba(68,61,40,0.9) 100%), url('../images/home-activities-feature/2016/07/10/mgb-industry-stats.png');
	background: -ms-linear-gradient(45deg, rgba(68,61,40,1) 0%, rgba(68,61,40,0.95) 51%, rgba(68,61,40,0.93) 71%, rgba(68,61,40,0.9) 100%), url('../images/home-activities-feature/2016/07/10/mgb-industry-stats.png');
	background: linear-gradient(45deg, rgba(68,61,40,1) 0%, rgba(68,61,40,0.95) 51%, rgba(68,61,40,0.93) 71%, rgba(68,61,40,0.9) 100%), url('../images/home-activities-feature/2016/07/10/mgb-industry-stats.png');
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#443d28', endColorstr='#443d28', GradientType=1 );
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .5s ease;    
}

#grid-mgb:hover {
	cursor: pointer;
    background-size: 120% 120%;    
}

#grid-contracts {	
	/*background: rgba(250,188,1,1), url('../images/home-activities-feature/2016/07/10/contracts-link-2.png');
	background: -moz-linear-gradient(45deg, rgba(250,188,1,1) 0%, rgba(250,188,1,0.9) 51%, rgba(250,188,1,0.87) 71%, rgba(250,188,1,0.81) 100%), url('../images/home-activities-feature/2016/07/10/contracts-link-2.png');
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(250,188,1,1)), color-stop(51%, rgba(250,188,1,0.9)), color-stop(71%, rgba(250,188,1,0.87)), color-stop(100%, rgba(250,188,1,0.81))), url('../images/home-activities-feature/2016/07/10/contracts-link-2.png');
	background: -webkit-linear-gradient(45deg, rgba(250,188,1,1) 0%, rgba(250,188,1,0.9) 51%, rgba(250,188,1,0.87) 71%, rgba(250,188,1,0.81) 100%), url('../images/home-activities-feature/2016/07/10/contracts-link-2.png');
	background: -o-linear-gradient(45deg, rgba(250,188,1,1) 0%, rgba(250,188,1,0.9) 51%, rgba(250,188,1,0.87) 71%, rgba(250,188,1,0.81) 100%), url('../images/home-activities-feature/2016/07/10/contracts-link-2.png');
	background: -ms-linear-gradient(45deg, rgba(250,188,1,1) 0%, rgba(250,188,1,0.9) 51%, rgba(250,188,1,0.87) 71%, rgba(250,188,1,0.81) 100%), url('../images/home-activities-feature/2016/07/10/contracts-link-2.png');
	background: linear-gradient(45deg, rgba(250,188,1,1) 0%, rgba(250,188,1,0.9) 51%, rgba(250,188,1,0.87) 71%, rgba(250,188,1,0.81) 100%), url('../images/home-activities-feature/2016/07/10/contracts-link-2.png');
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fabc01', endColorstr='#fabc01', GradientType=1 );*/

	background: rgba(250,188,1,1), url('../images/home-activities-feature/2016/07/10/contracts-link-2.png');
	background: -moz-linear-gradient(45deg, rgba(250,188,1,1) 0%, rgba(250,188,1,0.87) 51%, rgba(250,188,1,0.82) 71%, rgba(250,188,1,0.75) 100%), url('../images/home-activities-feature/2016/07/10/contracts-link-2.png');
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(250,188,1,1)), color-stop(51%, rgba(250,188,1,0.87)), color-stop(71%, rgba(250,188,1,0.82)), color-stop(100%, rgba(250,188,1,0.75))), url('../images/home-activities-feature/2016/07/10/contracts-link-2.png');
	background: -webkit-linear-gradient(45deg, rgba(250,188,1,1) 0%, rgba(250,188,1,0.87) 51%, rgba(250,188,1,0.82) 71%, rgba(250,188,1,0.75) 100%), url('../images/home-activities-feature/2016/07/10/contracts-link-2.png');
	background: -o-linear-gradient(45deg, rgba(250,188,1,1) 0%, rgba(250,188,1,0.87) 51%, rgba(250,188,1,0.82) 71%, rgba(250,188,1,0.75) 100%), url('../images/home-activities-feature/2016/07/10/contracts-link-2.png');
	background: -ms-linear-gradient(45deg, rgba(250,188,1,1) 0%, rgba(250,188,1,0.87) 51%, rgba(250,188,1,0.82) 71%, rgba(250,188,1,0.75) 100%), url('../images/home-activities-feature/2016/07/10/contracts-link-2.png');
	background: linear-gradient(45deg, rgba(250,188,1,1) 0%, rgba(250,188,1,0.87) 51%, rgba(250,188,1,0.82) 71%, rgba(250,188,1,0.75) 100%), url('../images/home-activities-feature/2016/07/10/contracts-link-2.png');
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fabc01', endColorstr='#fabc01', GradientType=1 );

	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .5s ease;    
}

#grid-contracts:hover {
	cursor: pointer;
    background-size: 120% 120%;    
}

#home-newsfeature-photo {
	border:1px solid #ababab;
}

.news-title {
	font-size:1.3em;
	line-height:1em;
	padding:0px;
	margin:0px;
	margin-bottom:3px;
}

#footer-logo {
	width: 85px;
}

/*@media (max-width: 600px) {*/
@media all and (min-width: 412px) and (max-width: 736px) {
	
	#logo-wrapper--inner {
		max-width: 100%;
	}

	.feature-card__heading {
		font-size: 1.25em;
	}

	.feature-photo__heading {
		font-size: 1.75em;	
	}

	#collections {
		margin-left: 0px;
		padding: 0px;
		word-wrap:break-word;
	}	

	#collections h3,
	#collections p {
		font-size: 0.85em;
	}

	#collections h1 {
		font-size: 1.2em;
	}

	#collections h2 {
		font-size: 1em;
	}

	#home-newsfeature-photo {
		background-size: 100% 90%;
		border:none;
		background-position: top;
	}

	#home-statements {
		display: none;
	}
	
	#contact {
		padding-bottom: 1em;
		margin-top: -1em;
		background-color: transparent;
	}

	#contact-social,
	#contact-main {
		text-align: left;
	}

	#contact-main p {
		font-size: 1em;
	}

	.news-title {
		font-size: 1em;
	}

	#home-activitiesfeature-photo {
		background-size: 125% 100%;
		background-position: top;
		border:none;
	}

	.related {
		text-align: left !important;
		vertical-align: middle;
		padding-left: 0.75em;
	}

	.related > div {
		text-align: left;
	}

	.related h1 {
		font-size: 2em;
		text-align: left;
	}

	.related div > a {
		font-size: 1.2em;
	}
	
	.md-nav-bar {
		/*display: none;*/
	}

	#home-nav-bar {
		background-color: #fabc01;
	}
	
	#home-statements--inner div {
		font-size: 0.8em;
		line-height: 1.5em;
	}

}

@media all and (min-width: 360px) and (max-width: 400px) {
	
	#logo-wrapper--inner {
		max-width: 100%;
	}

	.feature-card__heading {
		font-size: 1.25em;
	}

	.feature-photo__heading {
		font-size: 1.75em;	
	}

	#collections {
		margin-left: 0px;
		padding: 0px;
		word-wrap:break-word;
	}	

	#collections h3,
	#collections p {
		font-size: 0.85em;
	}

	#collections h1 {
		font-size: 1.2em;
	}

	#collections h2 {
		font-size: 1em;
	}

	#home-newsfeature-photo {
		background-size: 100% 90%;
		border:none;
		background-position: top;
	}

	#home-statements {
		display: none;
	}
	
	#contact {
		padding-bottom: 1em;
		margin-top: -1em;
		background-color: transparent;
	}

	#contact-social,
	#contact-main {
		text-align: left;
	}

	#contact-main p {
		font-size: 1em;
	}

	.news-title {
		font-size: 1em;
	}

	#home-activitiesfeature-photo {
		background-size: 125% 100%;
		background-position: top;
		border:none;
	}

	.related {
		text-align: left !important;
		vertical-align: middle;
		padding-left: 0.75em;
	}

	.related > div {
		text-align: left;
	}

	.related h1 {
		font-size: 2em;
		text-align: left;
	}

	.related div > a {
		font-size: 1.2em;
	}
	
	.md-nav-bar {
		/*display: none;*/
	}

	#home-nav-bar {
		background-color: #fabc01;
	}
	
	#home-statements--inner div {
		font-size: 0.8em;
		line-height: 1.5em;
	}

}

@media all and  (min-width:600px) and (max-width: 736px){
	#contact-social,
	#contact-main {
		text-align: right;
		padding-right: 1.2em;
		font-size: 1em;
	}

	#contact-main p {
	    font-size: 0.8em;
	}
}

@media all and (min-width: 600px) and (max-width: 768px) {
	#home-nav-bar {
		background-color: #fabc01;
	}
	#logo-wrapper--inner {
		max-width: 100%;
	}
	#home-statements--inner div {
		font-size: 0.8em;
		line-height: 1.5em;
	}
}

/* Portrait */
@media all screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	#logo-wrapper--inner {
		max-width: 100%;
	}

	/*/#home-nav-bar {
		background-color: #fabc01;
	}*/
}

/* Landscape */
@media all and (min-width: 768px) and (max-width: 960px) and (orientation: landscape) {
	#logo-wrapper--inner {
		max-width: 100%;
	}
}

@media all and (min-width: 768px) and (max-width: 959px) {
	#home-nav-bar {
		background-color: #fabc01;
	}
}

@media all and (min-width: 960px) and (max-width: 1280px) {
	#logo-wrapper--inner {
		max-width: 100%;
	}
	
	#logo-wrapper__main img {
		margin-left: 1em;
	}
	
	#home-nav-bar > md-menu-bar {
		max-width: 100%;
	}

	.flex-md-17, .layout-row>.flex-md-17 {
	    -webkit-flex: 1 1 17%;
	    -ms-flex: 1 1 17%;
	    flex: 1 1 17%;
	    max-width: 17%;
	    max-height: 100%;
	    box-sizing: border-box;
	}

	#home-nav-bar ul > li:last-child {
		max-width: 20%;	
		margin-left:-2em;
	}
	
}

@media all and (min-width: 1281px) and (max-width: 1318px) {
	#home-nav-bar ul > li:last-child {
		max-width: 20%;	
		margin-left:-2em;
	}
}


@media all and (min-width: 1025px) and (max-width: 1280px) {
	
	#collections {
		margin-left:1.5em;
	}

	#logo-wrapper--inner {
		max-width: 100%;
	}

}

@media all and (min-width: 960px) and (max-width: 1140px) { 
	#home-statements--inner div > em {
		font-size: 1em;
	}
	#home-statements--inner div > h2 {
		font-size: 1.25em;
	}
	#home-statements--inner div > a {
		font-size: 1em;
	} 
}

@media all and (min-width: 768px) and (max-width: 959px) { 
	#home-statements--inner div > em {
		font-size: 1em;
	}
	#home-statements--inner div > h2 {
		font-size: 1.25em;
	}
	#home-statements--inner div > a {
		font-size: 1em;
	} 
}

@media all and (min-width: 360px) and (max-width: 735px) {
	footer .mxw-80 {
		max-width: 100%;
		padding-left:1em;
	}

	.md-toolbar-tools h2,
	.md-toolbar-tools p {
		font-size: 0.7em;
		line-height: 1em;
	}

}

@media all and (min-width: 360px) and (max-width: 412px)  {
	.related h1 {
		font-size: 1.25em;
		line-height: 1em;
	}

	#home-newsfeature-photo h1 {
		font-size: 1.65em;
		line-height: 1em;	
	}
	#home-activitiesfeature-photo h1 {
		font-size: 1.75em;
		line-height: 1em;	
	}
}

@media all and (max-width: 320px)  {
	#home-nav-bar {
		background-color: #fabc01;
	}

	#logo-wrapper--inner {
		max-width: 100%;
	}

	.feature-card__heading {
		font-size: 1.2em;
	}

	.feature-photo__heading {
		font-size: 1.5em;	
	}

	#collections {
		margin-left: 0px;
		padding: 0px;
		word-wrap:break-word;
	}	

	#collections h3,
	#collections p {
		font-size: 0.85em;
	}

	#collections h1 {
		font-size: 1.2em;
	}

	#collections h2 {
		font-size: 1em;
	}

	.related h1 {
		font-size: 1em;
		line-height: 1em;
	}

	#home-newsfeature-photo h1 {
		font-size: 1.3em;
		line-height: 1em;	
	}

	#home-activitiesfeature-photo h1 {
		font-size: 1.3em;
		line-height: 1em;	
	}

	.md-toolbar-tools h2,
	.md-toolbar-tools p {
		font-size: 0.7em;
		line-height: 1em;
	}

	#home-statements {
		display: none;
	}

	#contact-main,
	#contact-social {
		text-align: left;
	}

	#contact-main {
		margin-top: 0px;
		padding-top: 0px;
	}
	
	#home-activitiesfeature-photo {
		background-size:125% 90%;
		background-position: top center;
	}

	#home-newsfeature-photo {
		height: 325px;
		background-size: 100% 100%;
		background-position: top center;
	}

	#home-newsfeature-photo .fnt--eitiyellow {
		font-size: 1em;
	}

	#home-newsfeature-photo .fnt--white.fnt--md {
		font-size: 0.75em;
	}

	.news-title {
		font-size:1em;
		line-height:1em;
	}
}


@media all and (min-width: 413px) and (max-width: 414px)  {
	.related h1 {
		font-size: 1.25em;
		line-height: 1em;
	}
}

@media all and (width: 768px)  {
	.related h1 {
		font-size: 1.75em;
		line-height: 1em;
	}

	.feature-photo__heading {
		font-size: 1.85em;
	}

	#home-newsfeature-photo .fnt--white.sref {
		font-size: 0.82em;
	}
}
