@font-face{
    font-family: 'Roboto';
    src:url('../fonts/Roboto-Regular.ttf');
}

@font-face{
    font-family: 'Helvetica Neue';
    src:url('../fonts/HelveticaNeue.otf');
}

@import 'https://fonts.googleapis.com/css?family=Roboto';

html {
    color: #222;
    font-size: 100%; /*1em=14px*/
    font-family: sans-serif;    
}

#logo-wrapper {
	background-color: #fff;
}

#logo-wrapper--inner {

}

#logo-wrapper__main {

}

#logo-wrapper__social {
	padding-top: 0.4em;
}

#logo-wrapper__social img {
	margin-right: 0.4em;
}

header {
	background-color:#fabc01; /*#f1f1f1*/
	color: #fff;
	min-height:250px;
	display: block;
	margin-top:0.75em;
}

#header-wrapper {
	border:1px solid #fabc01;
}

#header-wrapper p {
	padding:0px;
	margin:0px;
	line-height:1.15em;
	margin-top:4em;
}

#header-wrapper h1.md-display-2 {
	padding:0px;
	margin:0px;
	line-height:1.3em;
}

#header-wrapper h1.md-display-2.header-title {
	margin-top:1.85em;
}

#header-wrapper span {
	padding:0px;
	margin:0px;
	line-height:1em;	
}

#breadcrumb-wrapper {
	margin-top: -1.65em;
}

#backToTop-wrapper {
	/*margin-bottom: -1.65em;	*/
}

.jk-carousel {
	width: 100% !important;
	z-index: 1;
}

.jk-carousel .radio-buttons-container {
	display: none;
}

footer {
	background-color: #000;
	color: #fff;
	min-height:200px;
	display: block;
}

footer md-content {
	background-color: #000;
	color: #fff;
	padding-top:0.9em;
}

.footer-nav-list {
	list-style-type: none;
	padding: 0px;
}

.footer-nav-list li a {
	font-size: 1em;
	font-weight: 600;
	text-decoration: none;
	padding: 1px;
	text-transform: uppercase;
	color: #fff;
}

.footer-nav-list li:hover a,
.footer-nav-list li a:hover {
	color: #fabc01;
}

.footer-secretariat-contact {
    padding-top: 1em;
}

.footer-secretariat-contact p,
.footer-secretariat-contact span {
	font-size: 0.75em;
	color: #fff;
}

#subscribe-email {
	padding: 0.35em;
	margin-right: -0.2em;
	border-radius: 5px 0px 0px 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
}

#home-statements {
	/*background-color:#234b70;*/
	color: #fff;
	min-height:350px;
	display: block;
	background: rgba(35,75,112,1);
	background: -moz-linear-gradient(left, rgba(35,75,112,1) 0%, rgba(35,75,112,1) 50%, rgba(35,75,112,1) 51%, rgba(35,75,112,1) 71%, rgba(17,37,55,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(35,75,112,1)), color-stop(50%, rgba(35,75,112,1)), color-stop(51%, rgba(35,75,112,1)), color-stop(71%, rgba(35,75,112,1)), color-stop(100%, rgba(17,37,55,1)));
	background: -webkit-linear-gradient(left, rgba(35,75,112,1) 0%, rgba(35,75,112,1) 50%, rgba(35,75,112,1) 51%, rgba(35,75,112,1) 71%, rgba(17,37,55,1) 100%);
	background: -o-linear-gradient(left, rgba(35,75,112,1) 0%, rgba(35,75,112,1) 50%, rgba(35,75,112,1) 51%, rgba(35,75,112,1) 71%, rgba(17,37,55,1) 100%);
	background: -ms-linear-gradient(left, rgba(35,75,112,1) 0%, rgba(35,75,112,1) 50%, rgba(35,75,112,1) 51%, rgba(35,75,112,1) 71%, rgba(17,37,55,1) 100%);
	background: linear-gradient(to right, rgba(35,75,112,1) 0%, rgba(35,75,112,1) 50%, rgba(35,75,112,1) 51%, rgba(35,75,112,1) 71%, rgba(17,37,55,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#234b70', endColorstr='#112537', GradientType=1 );
}

#home-statements .jk-carousel {
	background: url('../images/statement-pullquote-icon.png') no-repeat;
	background-position: top left;
	background-size: 200px;
}

a {
	color: rgba(35,75,112,1);
}

.navLink {
	color: rgba(35,75,112,1);	
	font-size: 0.8em;
}

.navLink:hover {
	cursor: pointer;
}

.fnt--bluepalette { color: rgba(35,75,112,1); }
.fnt--bluepalette__linkHover { color:#000; }
.fnt--bluepalette__linkHover:hover { color: #1d5aa2; }

#principles-list li {
	padding:5px;
}

#home-newsfeature-photo {
	 /*background: url('../images/home-news-feature/2016/07/10/cvp-peru.png'); */
/*	background: rgba(0,0,0,0), url('../images/home-news-feature/2016/07/10/cvp-peru.png');
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.33) 81%, rgba(0,0,0,0.47) 100%), url('../images/home-news-feature/2016/07/10/cvp-peru.png');
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(47%, rgba(0,0,0,0.08)), color-stop(81%, rgba(0,0,0,0.33)), color-stop(100%, rgba(0,0,0,0.47))), url('../images/home-news-feature/2016/07/10/cvp-peru.png');
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.33) 81%, rgba(0,0,0,0.47) 100%), url('../images/home-news-feature/2016/07/10/cvp-peru.png');
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.33) 81%, rgba(0,0,0,0.47) 100%), url('../images/home-news-feature/2016/07/10/cvp-peru.png');
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.33) 81%, rgba(0,0,0,0.47) 100%), url('../images/home-news-feature/2016/07/10/cvp-peru.png');
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.33) 81%, rgba(0,0,0,0.47) 100%), url('../images/home-news-feature/2016/07/10/cvp-peru.png');
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );*/
	background: rgba(0,0,0,0), url('../images/home-news-feature/2016/07/10/cvp-peru.png');
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-news-feature/2016/07/10/cvp-peru.png');
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(47%, rgba(0,0,0,0.08)), color-stop(81%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0.74))), url('../images/home-news-feature/2016/07/10/cvp-peru.png');
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-news-feature/2016/07/10/cvp-peru.png');
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-news-feature/2016/07/10/cvp-peru.png');
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-news-feature/2016/07/10/cvp-peru.png');
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-news-feature/2016/07/10/cvp-peru.png');
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
	max-height: 450px;
	height: 450px;
	max-width: 430px;

	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
}

#home-newsfeature-photo h1 {
	color: #fff;
	line-height: 0.9em;
	margin:9em 0.5em 0em 0.5em
}

#home-newsfeature-photo:hover {
	/*cursor: pointer;*/
	background: rgba(0,0,0,0.29);
	background: -moz-linear-gradient(top, rgba(0,0,0,0.29) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-news-feature/2016/07/10/cvp-peru.png');
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.29)), color-stop(47%, rgba(0,0,0,0.08)), color-stop(81%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0.74))), url('../images/home-news-feature/2016/07/10/cvp-peru.png');
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.29) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-news-feature/2016/07/10/cvp-peru.png');
	background: -o-linear-gradient(top, rgba(0,0,0,0.29) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-news-feature/2016/07/10/cvp-peru.png');
	background: -ms-linear-gradient(top, rgba(0,0,0,0.29) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-news-feature/2016/07/10/cvp-peru.png');
	background: linear-gradient(to bottom, rgba(0,0,0,0.29) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-news-feature/2016/07/10/cvp-peru.png');
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
	
	/*transform: scale(1.5);
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')";
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand');*/
}

#home-newsfeature-photo:hover h1 {
	/*text-decoration: underline;*/
}

.sitepalette-yellow { background-color: #fabc01; }
.sitepalette-blue { background-color: #1e4161; }
.sitepalette-brown { background-color: #443d28 }


#home-activitiesfeature-photo {
	background: rgba(0,0,0,0), url('../images/home-activities-feature/2016/07/10/4th-nat-con.png');
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-activities-feature/2016/07/10/4th-nat-con.png');
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(47%, rgba(0,0,0,0.08)), color-stop(81%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0.74))), url('../images/home-activities-feature/2016/07/10/4th-nat-con.png');
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-activities-feature/2016/07/10/4th-nat-con.png');
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-activities-feature/2016/07/10/4th-nat-con.png');
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-activities-feature/2016/07/10/4th-nat-con.png');
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 47%, rgba(0,0,0,0.5) 81%, rgba(0,0,0,0.74) 100%), url('../images/home-activities-feature/2016/07/10/4th-nat-con.png');
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
	max-height: 531px;
	height: 531px;
	max-width: 355px;

	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
}

#home-activitiesfeature-photo h1 {
	margin-top: 11em;
}

#grid-progress-report {
	background: rgba(255,255,255,0.5), url('../images/home-activities-feature/2016/07/10/eiti-prog-report-2016.png');
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,0.5) 0%, rgba(30,65,97,0.61) 22%, rgba(30,65,97,0.74) 48%, rgba(30,65,97,1) 100%), url('../images/home-activities-feature/2016/07/10/eiti-prog-report-2016.png');
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,0.5)), color-stop(22%, rgba(30,65,97,0.61)), color-stop(48%, rgba(30,65,97,0.74)), color-stop(100%, rgba(30,65,97,1))), url('../images/home-activities-feature/2016/07/10/eiti-prog-report-2016.png');
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.5) 0%, rgba(30,65,97,0.61) 22%, rgba(30,65,97,0.74) 48%, rgba(30,65,97,1) 100%), url('../images/home-activities-feature/2016/07/10/eiti-prog-report-2016.png');
	background: -o-linear-gradient(-45deg, rgba(255,255,255,0.5) 0%, rgba(30,65,97,0.61) 22%, rgba(30,65,97,0.74) 48%, rgba(30,65,97,1) 100%), url('../images/home-activities-feature/2016/07/10/eiti-prog-report-2016.png');
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,0.5) 0%, rgba(30,65,97,0.61) 22%, rgba(30,65,97,0.74) 48%, rgba(30,65,97,1) 100%), url('../images/home-activities-feature/2016/07/10/eiti-prog-report-2016.png');
	background: linear-gradient(135deg, rgba(255,255,255,0.5) 0%, rgba(30,65,97,0.61) 22%, rgba(30,65,97,0.74) 48%, rgba(30,65,97,1) 100%), url('../images/home-activities-feature/2016/07/10/eiti-prog-report-2016.png');
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#1e4161', GradientType=1 );
}

#grid-mgb {
	background: rgba(255,255,255,0.59), url('../images/home-activities-feature/2016/07/10/mgb-industry-stats.png');
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,0.59) 0%, rgba(68,61,40,0.68) 22%, rgba(68,61,40,0.79) 48%, rgba(68,61,40,1) 100%), url('../images/home-activities-feature/2016/07/10/mgb-industry-stats.png');
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,0.59)), color-stop(22%, rgba(68,61,40,0.68)), color-stop(48%, rgba(68,61,40,0.79)), color-stop(100%, rgba(68,61,40,1))), url('../images/home-activities-feature/2016/07/10/mgb-industry-stats.png');
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.59) 0%, rgba(68,61,40,0.68) 22%, rgba(68,61,40,0.79) 48%, rgba(68,61,40,1) 100%), url('../images/home-activities-feature/2016/07/10/mgb-industry-stats.png');
	background: -o-linear-gradient(-45deg, rgba(255,255,255,0.59) 0%, rgba(68,61,40,0.68) 22%, rgba(68,61,40,0.79) 48%, rgba(68,61,40,1) 100%), url('../images/home-activities-feature/2016/07/10/mgb-industry-stats.png');
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,0.59) 0%, rgba(68,61,40,0.68) 22%, rgba(68,61,40,0.79) 48%, rgba(68,61,40,1) 100%), url('../images/home-activities-feature/2016/07/10/mgb-industry-stats.png');
	background: linear-gradient(135deg, rgba(255,255,255,0.59) 0%, rgba(68,61,40,0.68) 22%, rgba(68,61,40,0.79) 48%, rgba(68,61,40,1) 100%), url('../images/home-activities-feature/2016/07/10/mgb-industry-stats.png');
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#443d28', GradientType=1 );	
}

#grid-contracts {
	background: rgba(255,255,255,0.59);
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,0.59) 0%, rgba(250,188,1,0.68) 22%, rgba(250,188,1,0.79) 48%, rgba(250,188,1,1) 100%), url('../images/home-activities-feature/2016/07/10/contracts-link.png');
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,0.59)), color-stop(22%, rgba(250,188,1,0.68)), color-stop(48%, rgba(250,188,1,0.79)), color-stop(100%, rgba(250,188,1,1))), url('../images/home-activities-feature/2016/07/10/contracts-link.png');
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.59) 0%, rgba(250,188,1,0.68) 22%, rgba(250,188,1,0.79) 48%, rgba(250,188,1,1) 100%), url('../images/home-activities-feature/2016/07/10/contracts-link.png');
	background: -o-linear-gradient(-45deg, rgba(255,255,255,0.59) 0%, rgba(250,188,1,0.68) 22%, rgba(250,188,1,0.79) 48%, rgba(250,188,1,1) 100%), url('../images/home-activities-feature/2016/07/10/contracts-link.png');
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,0.59) 0%, rgba(250,188,1,0.68) 22%, rgba(250,188,1,0.79) 48%, rgba(250,188,1,1) 100%), url('../images/home-activities-feature/2016/07/10/contracts-link.png');
	background: linear-gradient(135deg, rgba(255,255,255,0.59) 0%, rgba(250,188,1,0.68) 22%, rgba(250,188,1,0.79) 48%, rgba(250,188,1,1) 100%), url('../images/home-activities-feature/2016/07/10/contracts-link.png');
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fabc01', GradientType=1 );
}
