
/* palette
#fabc01 - yellow
#443d28 - brown
#f1f1f1 
#fff
#000

#1d92de - blue (*hover for the links)
017fcb*/

._md-nav-bar-list {
	max-width: 80%;
	margin:auto;
}

.md-nav-item {
	min-width: 16.6%;
}

.md-nav-item > button,
.md-nav-item > a {
	font-weight: bold;
}

.md-nav-item button,
.md-nav-item a,
.md-nav-item:hover button,
.md-nav-item:hover a {
	text-align: left;
}

.mnav-item:hover .snav{
	display: block;
}

.snav,
.sub-snav {
	display: none;
	position: inherit; /*relative;*/
	padding:0;
	margin:0;
	list-style-type: none;
	text-align: left;
	margin-top: 1em;
}

.sub-snav {
	display: block;
	position: relative;
}

.sub-snav {
	margin-left: 1.75em;
}


.snav li,
.snav li button,
.snav li a,
.snav li span {
	vertical-align: top;
}

.snav li span {
	margin-top: 1.15em;
}


.snav li,
.sub-snav li {
	background-color: #fff; /*1f1f1;*/
	min-width: 200px;
}


.mnav-item .snav > li:hover .sub-snav {
	/*display: inline-block;	*/
	display: block;
}


.sub-snav li a,
.sub-snav li button {
	margin-top:-0.6em;
}

