<div style="padding-bottom:2em;">
	<md-toolbar class="md-accent">
		<div class="md-toolbar-tools">
			<h2 class="fnt--white">Country Validation is now ongoing</h2>
			<span flex></span>
			<md-button class="md-icon-button" data-ng-click="closeDialog()">
				<md-icon md-svg-src="./images/icons/svg/ic_close_white_24px.svg" aria-label="Close dialog" title="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-content layout="column" layout-padding>
		<p>Validation of the Philippines as EITI candidate country has commenced this January 2017. Data collection for the Validation is being done within the first quarter of the year. Validation is intended to provide all stakeholders with an impartial assessment of whether EITI implementation in a country is in line with the provisions of the EITI Standard. All stakeholders are invited to participate in this process by sending comments or inputs to the EITI International Secretariat through the following contact information: Alex Gordy <a class="sref" href="mailto:AGordy@eiti.org?subject='EITI Validation'">AGordy@eiti.org</a>, Dyveke Rogan - <a class="sref" href="mailto:DRogan@eiti.org?subject='EITI Validation'">DRogan@eiti.org</a>.
		</p>
	</md-content>
</div>

