<div class="md-padding">
	<h1 style="line-height:1.2em;">Quick Overview of Causes of Variance in Reports</h1>
	<md-list class="md-padding" style="margin-left:1.5em;">
        <md-list-item class="md-2-line" data-ng-repeat="vartype in variances" style="min-height:42px;">
        	<md-icon md-svg-icon="{{vartype.icon}}"></md-icon>
            <div class="md-list-item-text">
                <p class="fnt--black" style="padding:0;margin:0;line-height:1.15em;">{{vartype.variance}}</p>
            </div>
        </md-list-item>
    </md-list>
</div>
