<header class="wd-100">   
    <div class="mxw-80 ta-left" id="header-wrapper">
        <p>ABOUT PH-EITI</p>
        <h1 class="md-display-2">Multi-Stakeholder Group (MSG)</h1>  
        <span>MSG is the governing body for EITI implementation in the country.</span>
    </div>   
</header>

<div class="w-100" id="breadcrumb-wrapper">
    <div class="mxw-80">
        <md-button data-ng-href="../About-PH-EITI" class="md-fab md-mini md-primary" aria-label="Back to About PH-EITI" title="Back to About PH-EITI">
            <md-icon md-svg-src="../images/icons/svg/ic_navigate_before_white_24px.svg"></md-icon>
        </md-button>
    </div>
</div>

<div class="w-100">
    <div class="mxw-80">
    	<div class="wd-100 ta-right">
		    <md-button class="md-primary md-raised fnt--white" data-ng-href="#/MSG-Meetings">MSG Meetings</md-button>  
		</div>
		<md-content>
			<md-tabs md-dynamic-height md-border-bottom md-selected="selected_idx">
				<md-tab data-ng-repeat="(k,msgtab) in msg" label="{{msgtab.group}}">
					<md-content class="md-padding">
						
						<h1 class="md-display-2">{{msgtab.group}}</h1>
						<p>
							<h4>Roles of {{msgtab.group}} representatives:</h4>
							<ul>
								<li data-ng-repeat="role in msgtab.roles" layout="row" layout-align="start top">
									<span class="wd-2">&#9679;</span><span class="wd-98">{{ role }}</span>
								</li>
							</ul>
							<!-- <md-list style="list-style-type:circle;">
								<md-list-item data-ng-repeat="role in msgtab.roles" layout="row" layout-align="start top" style="height:auto;margin:0px;padding:0px;">
									<span class="wd-2">&#9679;</span><span class="wd-98">{{ role }}</span>
								</md-list-item>
							</md-list> -->
							<!-- <md-content flex> -->
								<md-table-container>
									<table md-table id="msgMembers-table">
										<thead md-head>
											<tr md-row>
												<th width="50%" md-column class="ta-left"><span>Full Members</span></th>
												<th width="50%" md-column class="ta-left"><span>Alternate Members</span></th>
											</tr>
										</thead>
										<tbody md-body ng-repeat="mem in msgtab.members">
											<tr md-row ng-if="mem.office" style="height:22px;">
												<td colspan="2" class="ta-left" style="font-weight:600;font-size:0.95em;border-bottom:1px solid #f0f0f0;">{{mem.office}}</td>
											</tr>
											<tr md-row>
												<td md-cell class="te-left">
													<md-list-item class="md-3-line" data-ng-repeat="(kipm,vipm) in mem.members.primary">
														<div class="md-list-item-text">
															<h3>{{vipm.name}}</h3>
															<p class="ww-breakword">{{vipm.position}}</p>
															<p class="ww-breakword" ng-if="vipm.subposition">{{vipm.subposition}}</p>
															<p class="ww-breakword" ng-if="vipm.office">{{vipm.office}}</p>
														</div>
													</md-list-item>
												</td>
												<td md-cell class="te-left">
													<md-list-item class="md-3-line" data-ng-repeat="(kiam,viam) in mem.members.alternate">
														<div class="md-list-item-text">
															<h3>{{viam.name}}</h3>
															<p class="ww-breakword">{{viam.position}}</p>
															<p class="ww-breakword" ng-if="viam.subposition">{{viam.subposition}}</p>
															<p class="ww-breakword" ng-if="viam.office">{{viam.office}}</p>
														</div>
													</md-list-item>
												</td>
											</tr>
										</tbody>
									</table>
								</md-table-container>
							<!-- </md-content> -->
							
							<!-- <md-content flex>
								<md-list flex="50">
									<md-list-item data-ng-repeat="mem in msgtab.members"  class="md-3-line" >
										<div class="md-list-item-text">
											<h3>{{mem.primary.name}}</h3>
											<h4>{{mem.primary.office}}</h4>
											<p>{{mem.primary.position}}</p>
										</div>										
										<md-divider ng-if="!$last"></md-divider>
									</md-list-item>
								</md-list>
								<md-list flex="50">
									<md-list-item data-ng-repeat="mem in msgtab.members"  class="md-3-line" >
										<div class="md-list-item-text">
											<h3>{{mem.alternate.name}}</h3>
											<h4>{{mem.alternate.office}}</h4>
											<p>{{mem.alternate.position}}</p>
										</div>
										<md-divider ng-if="!$last"></md-divider>
									</md-list-item>
								</md-list>
							</md-content> -->
						</p>
					</md-content>
				</md-tab>
			</md-tabs>
		</md-content>
	</div>
</div>
