<md-content layout-padding>
    <h1>Manage MSG Meetings</h1>
    
    <md-content layout="row" layout-align="start center">
        <md-input-container flex="45" style="width:300px">
            <label>Select Meeting</label>
            <md-select data-ng-model="filterTitle" data-ng-change="load_meeting(filterTitle)">
                <md-option data-ng-repeat="mtg in meetings" value="{{mtg.mtg_title}}">{{mtg.mtg_title}} Meeting</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="30">
            <md-button class="md-raised md-default" data-ng-disabled="selectedIdx == meetings.length-1" data-ng-click="getPrevMtg()">Prev</md-button><md-button class="md-raised md-default" data-ng-disabled="selectedIdx == 0"  data-ng-click="getNexMtg()">Next</md-button>
        </md-input-container>
        <md-button class="md-primary fnt--white md-raised" ng-click="addMsgMeeting($event)">Add New MSG Meeting</md-button> 
        <md-button class="md-warn" data-ng-click="confirmDelete($event,'MSG Meeting',meeting_selected)" title="Delete MSG Meeting">Delete</md-button>
    </md-content>
    
    <md-content layout="column" data-ng-show="meeting_selected.mtg_title">  
     
        <h1 class="mrgin-0 padd-0" style="padding:0px;margin:0px;">{{meeting_selected.mtg_title}} MSG Meeting</h1>
        <p class="mrgin-0 padd-0" style="padding:0px;margin:0px;">{{meeting_selected.mtg_venue}}</p>
        <small class="mrgin-0 padd-0 fnt--gray" style="padding:0px;margin:0px;margin-top:0.5em;">{{meeting_selected.mtg_date | formatDate}} | {{meeting_selected.mtg_time}}</small>        
    
        <!-- <small class="mrgin-0 padd-0 fnt--gray" style="padding:0px;margin:0px;margin-top:0.5em;">{{meeting_selected.updated}}</small> -->

        <!-- <h3 data-ng-show="meeting_selected.agenda">Agenda</h3>         
        <md-list>
            <md-list-item data-ng-repeat="(idx,agenda) in meeting_selected.agenda" style="height:auto;min-height:1.5em;">
                <div class="md-list-item-text" style="padding:0px;margin:0px;">
                    <p class="ww-breakword" style="padding:0px;margin:0px;">{{idx+1}}. {{agenda}}</p>
                </div>
            </md-list-item>
        </md-list> -->      

        <div layout="row" style="margin-top:10px;" layout-align="start center" ng-show="meeting_selected.minutes_url!=null">
            <md-button class="md-warn" data-ng-click="confirmDeleteMinutesAnnex($event,'Minutes',meeting_selected,null)" title="Delete MSG Meeting Minutes">Delete Minutes</md-button>
            <md-button class="md-raised md-accent" data-ng-click="download_minutes(meeting_selected.minutes_url)" title="Download Minutes of {{meeting_selected.mtg_title}} MSG Meeting">Download Minutes</md-button>           
        </div>

        <div layout="column" style="margin-top:10px;" layout-align="start start">
            <md-button class="md-raised md-accent" ng-show="meeting_selected.minutes_url=='' || meeting_selected.minutes_url==null" data-ng-click="addMinutes($event)" title="Upload Meeting Minutes">Upload Meeting Minutes</md-button>
        </div>

        <div layout="column" style="margin-top:10px;" layout-align="start start">
            <md-button class="md-primary" ng-show="meeting_selected.annexes.length == 0" data-ng-click="addAnnex($event)" title="Add Annex">Add Meeting Annex</md-button>
        </div>            

        <div layout="column" layout-align="start start">
            <h3 data-ng-show="meeting_selected.annexes && meeting_selected.annexes.length > 0">Annex</h3>  
            <md-button class="md-primary" ng-show="meeting_selected.annexes.length > 0" data-ng-click="addAnnex($event)" title="Add Annex">Add Meeting Annex</md-button>
        </div>
        <md-content data-ng-show="meeting_selected.annexes && meeting_selected.annexes.length > 0">
            <div flex="100" layout-fill layout="row" layout-wrap>   
                <md-card flex="45" layout="row" data-ng-repeat="(idx,annex) in meeting_selected.annexes" title="{{annex.title}}" class="card-container">
                    <md-card-title flex="70">
                        <md-card-title-text class="ta-left">
                            <span class="md-headline" title="{{annex.title}}" style="font-size:1.25em;line-height:1em;">{{annex.title}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions flex="30" layout="column" layout-align="center center">
                        <md-button class="md-warn" data-ng-if="annex.file" title="{{annex.title}}" data-ng-click="confirmDeleteMinutesAnnex($event,'Annex',meeting_selected,annex)"><strong>Delete</strong></md-button>
                        <md-button class="md-accent" data-ng-if="annex.file" title="{{annex.title}}" data-ng-click="download_minutes(annex.file)"><strong>Open</strong></md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </md-content>


    </md-content>    

</md-content>
