<!DOCTYPE html>
<html lang="en" data-ng-app="pheiti">
<head>
	<meta charset="utf-8">
    <meta name="description" content="PH-EITI Working Towards More Transparency and Accountability in Extractive Industries">
    <meta name="keywords" content="PH-EITI, Philippine EITI, EITI Philippines, EITI PH, EITI in PH, Transparency Initiative, Accountability, Transparency, Extractive Industries">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PH-EITI | Philippine Extractive Industries Transparency Initiative</title>
    <link rel="icon" type="image/gif" href="images/eitifavicon.ico">
    <link rel="stylesheet" href="css/angular-material.min.css?v1.1.0-rc2"> 
    <link rel="stylesheet" href="css/basic.css"> 
    <link rel="stylesheet" href="css/main.css"> 
    <link rel="stylesheet" href="css/nav.css"> 
</head>	
<body ng-cloak>
    <div class="wd-100" data-ng-controller="NavigationController">    
        <div class="mxw-80">
            <h1>Log here</h1>    
        </div>  
        <md-nav-bar nav-bar-aria-label="navigation links">
            <md-nav-item data-ng-repeat="(kmnav,vmnav) in main_nav" md-nav-href="{{vmnav.href}}" name="{{vmnav.id}}" class="mnav-item">{{vmnav.name}}
                <ul class="snav" data-ng-if="vmnav.subnav.length > 0">
                    <li data-ng-repeat="(ksnav,vsnav) in vmnav.subnav"><md-button href="{{vmnav.href}}/#/{{vsnav.href}}" name="{{vsnav.id}}">{{vsnav.name}}</md-button>
                        <ul class="sub-snav" data-ng-if="vsnav.subnav.length > 0">
                            <li data-ng-repeat="(ksunav,vsunav) in vsnav.subnav"><md-button href="{{vmnav.href}}/#/{{vsnav.href}}/{{vsunav.href}}" name="{{vsunav.id}}">{{vsunav.name}}</md-button></li>
                        </ul>
                    </li>
                </ul>
            </md-nav-item>
        </md-nav-bar>             
    </div>
    
    <div class="wd-100" id="slider">   
        <div class="mxw-80">
            <h1>How much?</h1>  
        </div>   
    </div>

	<!-- Framework/Libraries -->
	<script src="js/vendor/angular.js"></script>
    
    <script src="js/vendor/angular-animate.js?v1.01"></script>
    <script src="js/vendor/angular-route.js?v1.01"></script>
    <script src="js/vendor/angular-aria.js"></script>
    <script src="js/vendor/angular-messages.js"></script>

    <script src="js/vendor/angular-resource.js?v1.01"></script>
    <script src="js/vendor/angular-sanitize.js?v1.01"></script>
    <script src="js/vendor/angular-cookies.js?v1.01"></script>    
    <script src="js/vendor/angular-busy.js?v1.01"></script>

    <script src="js/vendor/angular-material.js"></script>

    <!-- Utilities -->
    <!--<script src="js/vendor/moment.min.js?v1.01"></script>-->
    <!--script src="js/modules/utilsModule.js?v1.01"></script-->

    <!-- Application -->
    <script src="js/modules/navigation.js"></script>
    <script src="js/mainApp.js"></script>

</body>
</html>
