<div class="ta-center">
	<h1 class="fnt--white" data-ng-show="slideItem.title" style="padding:0px;margin:0px;margin-top:0.35em;line-height:1em;">{{slideItem.title}}</h1>
	<div class="mxw-80 ta-enter">
		<img ng-src="{{slideItem.image}}" data-ng-if="slideItem.title!==''" width="80%"/>	
		<img ng-src="{{slideItem.image}}" data-ng-if="slideItem.title==='' && slideItem.image!='images/home-main-carousel/Banner A.png'" width="100%"/>	
		<img ng-src="{{slideItem.image}}" class="sref" title="The Philippines - The FIRST country compliant under the 2016 EITI Standard (Click here to learn more about it)" data-ng-if="slideItem.title==='' && slideItem.image=='images/home-main-carousel/Banner A.png'" width="117%" style="margin-left:-3em !important;" onclick="window.open('https://eiti.org/news/philippines-recognised-as-first-country-to-achieve-satisfactory-progress-against-eiti-standard');">
		<!-- <img ng-src="{{slideItem.image}}" data-ng-if="slideItem.title==='' && slideItem.image!='images/home-main-carousel/third-country-report-transparent-compressed.png'" width="100%"/>	 -->
		<!-- <img ng-src="{{slideItem.image}}" class="sref" title="The Third Country Report is now available. Click here to learn more about it." data-ng-if="slideItem.title==='' && slideItem.image=='images/home-main-carousel/third-country-report-transparent-compressed.png'" width="117%" style="margin-left:-3em !important;" onclick="window.location.href='./Country-Reports/#/Third Country Report';"> -->
	</div>
</div>

