<header class="wd-100">   
    <div class="mxw-80 ta-left" id="header-wrapper">
        <p>RESOURCES</p>
        <h1 class="md-display-2">Infographics</h1>
    </div>   
</header>

<div class="w-100" id="breadcrumb-wrapper">
    <div class="mxw-80">
        <md-button data-ng-href="../" class="md-fab md-mini md-primary" aria-label="Go to Homepage" title="Go to Homepage">
            <md-icon md-svg-src="../images/icons/svg/ic_home_white_24px.svg"></md-icon>
        </md-button>
    </div>
</div>

<div class="wd-100">
	<div class="mxw-80">
		<div class="md-inline-form">
	        <md-content layout-padding>
	            <div layout-gt-sm="row">
	                <md-input-container flex-gt-sm>
	                    <label>Select Category</label>
	                    <md-select data-ng-model="filterContentType" data-ng-change="refreshInfographics()">
	                    	<md-option value="Infographics">Infographics</md-option>
	                    	<md-option value="Brochures">Brochures</md-option>
	                    </md-select>
	                </md-input-container>
	                <md-input-container flex-gt-sm>
	                    <label>Select Year</label>
	                    <md-select data-ng-model="filterYear" data-ng-change="refreshInfographics()">
	                    	<md-option data-ng-repeat="year in years" value="{{year}}">{{year}}</md-option>
	                    </md-select>
	                </md-input-container>
	                <md-input-container flex-gt-sm>
	                	<label>Keyword filter</label><input data-ng-model="filterKeyword"/>
	                </md-input-container>        
	                <md-input-container flex-gt-sm data-ng-show="infoContent.length">
	                    <label><strong>{{ (infoContent | filter:{contentType:filterContentType,file:filterKeyword,year:filterYear}).length }} result<span data-ng-show="(infoContent | filter:{contentType:filterContentType,file:filterKeyword}).length > 1">s</span> found</strong></label>
	                </md-input-container>
	                <md-input-container flex-gt-sm></md-input-container>
	                <md-input-container flex-gt-sm></md-input-container>
	                <md-input-container flex-gt-sm></md-input-container>
	            </div>            
	        </md-content>
	    </div>
    </div>
</div>

<div class="wd-100">
	<div class="mxw-80">
		<div flex="100" layout-fill layout="row" layout-wrap>	
			<md-card flex="45" layout="row" data-ng-repeat="(k,infomaterial) in infoContent | filter:{contentType:filterContentType,file:filterKeyword,year:filterYear}"  class="card-container">
				<div flex="25" layout="left left" class="infographic-card-icon" style="background:url('../{{infomaterial.cardIcon}}')">
				</div>				
            	<md-card-title flex="50">
					<md-card-title-text class="ta-left">
						<span class="md-headline" style="font-size:1.25em;line-height:1em;">{{infomaterial.title}}</span>
						<span class="md-subhead" data-ng-show="infomaterial.otherInfo">{{infomaterial.otherInfo}}</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-actions flex="25" layout="row" layout-align="end center">
					<md-button class="md-accent" data-ng-click="goto_file(infomaterial.file)"><strong>Open</strong></md-button>
				</md-card-actions>
			</md-card>
		</div>	
	</div>    
</div>