<header class="wd-100">   
    <div class="mxw-80 ta-left" id="header-wrapper">
        <h1 class="md-display-2 header-title">Resources</h1>  
    </div>
    <md-progress-linear data-ng-show="getpromise" class="md-secondary" md-mode="indeterminate"></md-progress-linear>  
</header>

<div class="w-100" id="breadcrumb-wrapper">
    <div class="mxw-80">
        <md-button data-ng-href="../" class="md-fab md-mini md-primary" aria-label="Go to Homepage" title="Go to Homepage">
            <md-icon md-svg-src="../images/icons/svg/ic_home_white_24px.svg"></md-icon>
        </md-button>
    </div>
</div>

<div class="wd-100">
    <div class="mxw-80"><br/></div>
</div>

<div class="wd-100">
    <div class="mxw-80"><br/></div>
</div>

<div class="w-100">
	<div class="mxw-80">
	    <md-content class="md-padding" layout-xs="row" layout="column">
	        <div flex-xs flex="70" layout="row">
	            <md-card flex="33" layout="column" data-ng-repeat="(k,cr) in resourceContents" name="{{cr.title}}" data-ng-if="k < 3">
	                <md-card-title flex="100">
	                    <md-card-title-text>
	                        <h2 class="fnt--eitiblue curs--hover" data-ng-click="openLink(cr.href)" title="{{cr.name}}" style="margin-left:8px;margin-top:17px">{{cr.name}}</h2>
	                    </md-card-title-text>
	                </md-card-title>
	                <md-card-actions layout="row" layout-align="end center" flex="100">
                        <md-button class="md-accent"  ng-href="#{{cr.href}}" alt="Go to {{cr.title}}"  title="Go to {{cr.title}}">Go to page</md-button>
                    </md-card-actions>		
	            </md-card>
	        </div>
	        <div flex-xs flex="70" layout="row">
	            <md-card flex="33" layout="column" data-ng-repeat="(k,cr) in resourceContents" name="{{cr.title}}" data-ng-if="k > 2 && k < 6">
	                <md-card-title flex="100">
	                    <md-card-title-text>
	                        <h2 class="fnt--eitiblue curs--hover" data-ng-click="openLink(cr.href)" title="{{cr.name}}" style="margin-left:8px;margin-top:17px">{{cr.name}}</h2>
	                    </md-card-title-text>
	                </md-card-title>
	                <md-card-actions layout="row" layout-align="end center" flex="100">
                        <md-button class="md-accent"  ng-href="#{{cr.href}}" alt="Go to {{cr.title}}"  title="Go to {{cr.title}}">Go to page</md-button>
                    </md-card-actions>	
            	</md-card>
        	</div>
        	<div flex-xs flex="70" layout="row">
	            <md-card flex="33" layout="column" data-ng-repeat="(k,cr) in resourceContents" name="{{cr.title}}" data-ng-if="k > 5 && k < 9">
	                <md-card-title flex="100">
	                    <md-card-title-text>
	                        <h2 class="fnt--eitiblue curs--hover" data-ng-click="openLink(cr.href)" title="{{cr.name}}" style="margin-left:8px;margin-top:17px">{{cr.name}}</h2>
	                    </md-card-title-text>
	                </md-card-title>
	                <md-card-actions layout="row" layout-align="end center" flex="100">
                        <md-button class="md-accent"  ng-href="#{{cr.href}}" alt="Go to {{cr.title}}"  title="Go to {{cr.title}}">Go to page</md-button>
                    </md-card-actions>	
            	</md-card>
        	</div>
        </md-content>
	</div>
</div>