<header class="wd-100">   
    <div class="mxw-80 ta-left">
        <h5>About PH-EITI</h5>
        <h1 class="md-display-2">History</h1>  
    </div>   
</header>

<div class="w-100">
    <div class="mxw-80">
        <timeline >
            <!-- can also hard-code to side="left" or side="right" -->
            <timeline-event ng-repeat="(k,event) in events" data-ng-init="useSide = (k%2)===0 ? 'right' : 'left'" side="{{useSide}}">
                <!-- uses angular-scroll-animate to give it some pop -->
                <timeline-badge class="{{event.badgeClass}} timeline-hidden" when-visible="animateElementIn" when-not-visible="animateElementOut">
                    <span class="glyphicon {{event.badgeIconClass}}" style="font-size:0.85em;">{{event.year}}</span>
                </timeline-badge>
                <!-- uses angular-scroll-animate to give it some pop -->
                <timeline-panel class="{{event.badgeClass}} timeline-hidden" when-visible="animateElementIn" when-not-visible="animateElementOut">
                    <timeline-heading>
                        <h4 align="{{(useSide==='right' ? 'left' : 'right')}}">{{event.when}}</h4>
                        <!-- <p ng-if="event.when">
                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{event.when}}</small>
                        </p> -->
                        <p ng-if="event.titleContentHtml" ng-bind-html="event.titleContentHtml"></p>
                    </timeline-heading>
                    <p ng-bind-html="event.contentHtml"></p>
                    <timeline-footer ng-if="event.footerContentHtml">
                        <span ng-bind-html="event.footerContentHtml"></span>
                    </timeline-footer>
                </timeline-panel>
            </timeline-event>
        </timeline>
    </div>
</div>
