<header class="wd-100">   
    <div class="mxw-80 ta-left">
        <h5>About PH-EITI</h5>
        <h1 class="md-display-2">Secretariat</h1>  
    </div>   
</header>

<div class="w-100">
    <div class="mxw-80">

        <h1>Contact Details</h1>
        <div layout="column">
            <md-list>
                <md-list-item>
                    <md-icon md-svg-icon="../images/icons/svg/ic_markunread_mailbox_black_24px.svg"></md-icon>
                    <p>5/F DOF building, Roxas Blvd. Corner Pablo Ocampo St., Manila 1004, Philippines</p>
                </md-list-item>
                <md-list-item>
                    <md-icon md-svg-icon="../images/icons/svg/ic_email_black_24px.svg"></md-icon>
                    <p>info@ph-eiti.com</p>
                </md-list-item>
                <md-list-item>
                    <md-icon md-svg-icon="../images/icons/svg/ic_phone_black_24px.svg"></md-icon>
                    <p>+632-400-6882</p>
                </md-list-item>
            </md-list>
            <!-- <span>5/F DOF building, Roxas Blvd. Corner Pablo Ocampo St., Manila 1004, Philippines</span>
            <span>info@ph-eiti.com</span>
            <span>+632-400-6882</span>     -->
        </div>        

        <h1>Members</h1>
        <div flex="100" layout-fill layout="row" layout-wrap>   
            <md-card flex="45" layout="row" data-ng-repeat="(k,member) in secretariat"  class="card-container">
                <md-card-title flex>
                    <md-card-title-text class="ta-left">
                        <span class="md-accent md-headline" style="font-size:1.25em;line-height:1em;">{{member.name}}</span>
                        <span class="md-subhead" data-ng-show="member.position">{{member.position}}</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>  
    </div>
</div>
