<header class="wd-100">   
    <div class="mxw-80 ta-left" id="header-wrapper">
        <p>ABOUT PH-EITI</p>
        <h1 class="md-display-2">Secretariat</h1>  
    </div>   
</header>

<div class="w-100" id="breadcrumb-wrapper">
    <div class="mxw-80">
        <md-button data-ng-href="../About-PH-EITI" class="md-fab md-mini md-primary" aria-label="Back to About PH-EITI" title="Back to About PH-EITI">
            <md-icon md-svg-src="../images/icons/svg/ic_navigate_before_white_24px.svg"></md-icon>
        </md-button>
    </div>
</div>

<div class="w-100">
    <div class="mxw-80">

        <h1>Members</h1>
        <div flex="100" layout-fill layout="row" layout-wrap>   
            <md-card flex="45" layout="row" data-ng-repeat="(k,member) in secretariat"  class="card-container">
                <md-card-title flex style="padding-top:12px;">
                    <md-card-title-text class="ta-left" style="padding-top:0px;">
                        <span class="md-subhead fnt--upper fnt--gray" data-ng-show="member.position" style="padding-top:0px;margin-top:0px;font-size:0.75em;">{{member.position}}</span>
                        <span class="md-accent md-headline" style="font-size:1.25em;line-height:1em;">{{member.name}}</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>  

        <h1>Contact Details</h1>
        <div layout="column" data-ng-controller="footerController">
            <md-list>
                <md-list-item>
                    <md-icon md-svg-icon="../images/icons/svg/ic_location_on_headergray_24px.svg"></md-icon>
                    <p>{{contactDetails.add_line1}}, {{contactDetails.add_line2}}</p>
                </md-list-item>
                <md-list-item>
                    <md-icon md-svg-icon="../images/icons/svg/ic_email_headergray_24px.svg"></md-icon>
                    <p>{{contactDetails.email}}</p>
                </md-list-item>
                <md-list-item>
                    <md-icon md-svg-icon="../images/icons/svg/ic_phone_headergray_24px.svg"></md-icon>
                    <p>{{contactDetails.phone}}</p>
                </md-list-item>
            </md-list>
        </div>      
    </div>
</div>
