<md-content layout-padding>
    <h1>Manage Activities</h1>
    <div class="wd-100">
		<div class="mxw-80" layout="row">
	        <md-input-container flex=>
	            <label>Select Year</label>
	            <md-select data-ng-model="filterYear" data-ng-change="refreshActivites()">
	            	<md-option data-ng-repeat="year in years" value="{{year}}">{{year}}</md-option>
	            </md-select>
	        </md-input-container>
	        <md-input-container flex data-ng-show="activities.length">
	            <label><strong>{{ (activities | filter:{date:filterYear}).length }} result<span data-ng-show="(activities | filter:{date:filterYear}).length > 1">s</span> found</strong></label>
	        </md-input-container>
	        <md-content flex="20">
	        	<md-button class="md-raised md-accent">ADD</md-button>
	    	</md-content>
		</div>    
	</div>

    <md-progress-linear data-ng-show="promise" class="md-secondary" md-mode="indeterminate"></md-progress-linear>
    <div style="max-height:250px;overflow-y:scroll;">
    	<div layout="row" layout-align="space-between center">
	       <ul>
	           <li ng-repeat="(k,v) in activities track by $index">{{v.title}}</li>
	       </ul>
	    </div>
    </div>
   
</md-content>
