[id^='listItem-reportingTemplate-'] {
	border-bottom: 1px solid #f1f1f1;
}
[id^='listItem-reportingTemplate-']:hover {
	background-color: #f7f7f7;
	color: #fabc01;
	border-bottom: 1px solid #fabc01;
}
.infographic-card-icon {
	height:135px;
	width:123px;
}

#header-wrapper {
	background:url('../../images/page-headers/country-reports.png') center no-repeat;
	height: 251px;
}