.infographic-card-icon {
	height:2.25em;
}

.infographic-card-icon--pdf {
	background-color: rgb(161, 161, 161); /*rgb(254,196,22);*/
	color: #fff;
	text-align: center;
	line-height: 3em;
	padding-left: 0.5em;
}