<header class="wd-100">   
    <div class="mxw-80 ta-left">
    	<h5 style="padding-bottom:0;margin-bottom:0;">RESOURCES</h5>
        <h1 class="md-display-2" style="margin-top:0;padding-top:0;">Studies</h1>  
        <p></p>
    </div>   
</header>

<div class="w-100">
	<div class="mxw-80">
		<div flex layout-fill layout="column" layout-wrap>
			<md-list flex class="resources-list">
				<md-list-item  data-ng-repeat="(kfile,study) in studies"  class="md-2-line" >
					<!-- <md-icon md-svg-icon="{{phone.options.icon}}" ng-if="phone.options.icon" ng-class="{'md-avatar-icon': phone.options.avatarIcon}"></md-icon>
					<img ng-src="{{phone.options.face}}?25" class="md-avatar" alt="{{phone.options.face}}" ng-if="phone.options.face"/> -->
					<div class="md-list-item-text">
						<h3 title="{{study.title}}">{{study.title}}</h3>
					</div>
					<md-button class="md-secondary md-raised" data-ng-show="study.file!==''" data-ng-click="goto_file(study.file)" >Open</md-button>
					<h5 data-ng-show="study.file===''" class="md-warn" aria-label="unavailable">Unavailable</h5>
				</md-list-item>
			</md-list>
		</div>
	</div>
</div>

