<header class="wd-100">   
    <div class="mxw-80 ta-left">
    	<h5 style="padding-bottom:0;margin-bottom:0;">RESOURCES</h5>
        <h1 class="md-display-2" style="margin-top:0;padding-top:0;">Studies</h1>  
        <p></p>
    </div>   
</header>

<div class="w-100">
	<div class="mxw-80">
		<div flex="100" layout-fill layout="row" layout-wrap>   
	        <md-card flex="45" layout="row" data-ng-repeat="(kfile,study) in studies" class="card-container">
	            <md-card-title flex="70">
	                <md-card-title-text class="ta-left">
	                    <span class="md-headline" style="font-size:1.25em;line-height:1em;" title="{{study.title}}">{{study.title}}</span>
	                </md-card-title-text>
	            </md-card-title>
	            <md-card-actions flex="30" layout="row" layout-align="end center">
	                <md-button class="md-accent" data-ng-show="study.file!==''" data-ng-click="goto_file(study.file)" alt="Open/Download {{study.title}}"  title="Open/Download {{study.title}}"><strong>Open</strong></md-button>
	                <md-button class="md-secondary" data-ng-show="study.file===''" title="{{study.title}} is unavailable"><strong>Unavailable</strong></md-button>
	            </md-card-actions>
	        </md-card>
	    </div>  
	</div>
</div>

