<header class="wd-100">   
    <div class="mxw-80 ta-left" id="header-wrapper">
        <p>RESOURCES</p>
        <h1 class="md-display-2">General Information Sheet (GIS)</h1>
    </div>   
</header>

<div class="w-100" id="breadcrumb-wrapper">
    <div class="mxw-80">
        <md-button data-ng-href="../" class="md-fab md-mini md-primary" aria-label="Go to Homepage" title="Go to Homepage">
            <md-icon md-svg-src="../images/icons/svg/ic_home_white_24px.svg"></md-icon>
        </md-button>
    </div>
</div>

<div class="wd-100">
	<div class="mxw-80">
		<div class="md-inline-form">
	        <md-content layout-padding>
	            <div layout-gt-sm="row">
	                <md-input-container flex-gt-sm>
	                    <label>Select Year</label>
	                    <md-select data-ng-model="filterYear" data-ng-change="refreshList()">
	                    	<md-option data-ng-repeat="year in years" value="{{year}}">{{year}}</md-option>
	                    </md-select>
	                </md-input-container>
	                <md-input-container flex-gt-sm data-ng-show="selected_folder.files.length">
	                    <label><strong>{{ selected_folder.files.length }} result<span data-ng-show="selected_folder.files.length > 1">s</span> found</strong></label>
	                </md-input-container>            
	                 <md-input-container flex-gt-sm></md-input-container>        
	                <md-input-container flex-gt-sm></md-input-container>
	                <md-input-container flex-gt-sm></md-input-container>
	                <md-input-container flex-gt-sm></md-input-container>
	            </div>            
	        </md-content>
	    </div>
    </div>
</div>

<div class="w-100">
	<div class="mxw-80">
		<div flex="100" layout-fill layout="row" layout-wrap>   
	        <md-card flex="45" layout="row" data-ng-repeat="(kfolder,folderFile) in selected_folder.files"  class="card-container">
	            <md-card-title flex="70">
	                <md-card-title-text class="ta-left">
	                    <span class="md-headline" style="font-size:1.25em;line-height:1em;" title="{{folderFile.title}}">{{folderFile.title}}</span>
	                </md-card-title-text>
	            </md-card-title>
	            <md-card-actions flex="30" layout="row" layout-align="end center">
	                <md-button class="md-accent"  data-ng-show="folderFile.file!==''" data-ng-click="openFile(folderFile.file)" alt="Preview {{folderFile.title}}}"  title="Preview {{folderFile.title}}}"><strong>Preview</strong></md-button>
	                <md-button class="md-secondary" data-ng-show="folderFile.file===''" title="{{folderFile.title}} is unavailable"><strong>Unavailable</strong></md-button>
	            </md-card-actions>
	        </md-card>
	    </div>  
	</div>
</div>

