<header class="wd-100">   
    <div class="mxw-80 ta-left" id="header-wrapper">
        <p>NEWS</p>
        <h1 class="md-display-2">{{newsType}}</h1>
    </div>   
</header>

<div class="w-100" id="breadcrumb-wrapper">
    <div class="mxw-80">
        <md-button data-ng-href="#/{{newsType}}" class="md-fab md-mini md-primary" aria-label="Back to {{newsType}}" title="Back to {{newsType}}">
            <md-icon md-svg-src="../images/icons/svg/ic_navigate_before_white_24px.svg"></md-icon>
        </md-button>
    </div>
</div>

<div class="w-100">
	<div class="mxw-80">
		<md-content class="md-padding">
			<h1>{{article.title}}</h1>	
			<div id="newsarticle-info">
				<h2 data-ng-if="article.subhead">{{article.subhead}}</h2>
	    		<small data-ng-if="article.author!='' && article.title">Author: {{article.author}} | </small><small data-ng-show="article.readmore_source">Source website: <a href="{{article.readmore_source}}">{{article.readmore_sourcewebsite}}</a> |</small><small data-ng-if="article.dateposted!=''"> {{article.dateposted}}</small>
			</div>
			<div data-ng-bind-html="article.content"></div>
		</md-content>
		<div class="ta-center" cg-busy="{promise:newspromise}"></div>
	</div>
</div>

<div class="w-100">
	<div class="mxw-80"><br /><br /></div>
</div>