<header class="wd-100">   
    <div class="mxw-80 ta-left" id="header-wrapper">
        <p>RESOURCES</p>
        <h1 class="md-display-2">Work Plan and BO Roadmap</h1>
    </div>
    <md-progress-linear data-ng-show="getpromise" class="md-secondary" md-mode="indeterminate"></md-progress-linear>
</header>

<div class="w-100" id="breadcrumb-wrapper">
    <div class="mxw-80">
        <md-button data-ng-href="./#/" class="md-fab md-mini md-primary" aria-label="Go to Resources" title="Go to Resources">
            <md-icon md-svg-src="../images/icons/svg/ic_navigate_before_white_24px.svg"></md-icon>
        </md-button>
    </div>
</div>

<div class="wd-100">
    <div class="mxw-80"><br/></div>
</div>

<div class="w-100">
	<div class="mxw-80">
		<div class="md-inline-form">
	        <md-content>
	            <div layout-gt-sm="row">
	                <md-input-container flex-gt-sm>
	                    <label>Select Year</label>
	                    <md-select data-ng-model="filterYear">
	                    	<md-option data-ng-repeat="year in years" value="{{year}}">{{year}}</md-option>
	                    </md-select>
	                </md-input-container>
	                <md-input-container flex-gt-sm data-ng-show="workPlans.length">
	                    <label><strong>{{ (workPlans | filter:{year_covered:filterYear}).length }} result<span data-ng-show="(workPlans | filter:{year_covered:filterYear}).length > 1">s</span> found</strong></label>
	                </md-input-container>            
	                <!-- <label>Keyword filter</label><input data-ng-model="filterKeyword"/> -->
	                 <md-input-container flex-gt-sm></md-input-container>        
	                <md-input-container flex-gt-sm></md-input-container>
	                <md-input-container flex-gt-sm></md-input-container>
	                <md-input-container flex-gt-sm></md-input-container>
	            </div>            
	        </md-content>
	    </div>

		<md-content class="md-padding">
			<div flex="100" layout-fill layout="row" layout-wrap>   
	            <md-card flex="45" layout="row" data-ng-repeat="(k,wplan) in workPlans | filter:{year_covered:filterYear}" class="card-container">
	                <md-card-title flex="70">
	                    <md-card-title-text class="ta-left">
	                        <span class="md-headline" title="{{wplan.title}}" style="font-size:1em;line-height:1em;">{{wplan.title}}</span>
	                    </md-card-title-text>
	                </md-card-title>
	                <md-card-actions flex="30" layout="row" layout-align="end center">
	                    <md-button class="md-accent" data-ng-if="wplan.file_url" data-ng-click="preview(wplan.file_url,wplan)" alt="Preview {{wplan.title}}"  title="Preview {{wplan.title}}"><strong>Preview</strong></md-button>
	                </md-card-actions>
	            </md-card>
	        </div>
		</md-content>
	
		<!-- <md-tabs md-dynamic-height md-border-bottom data-ng-show="selected_workPlan.bo.length > 0" md-selected="tabSelected">
			<md-tab label="Work Plan" data-ng-if="selected_workPlan.bo.length > 0">
				<md-content class="md-padding">
					<h1 class="md-display-2 mrgn-bt-0 padd-bt-0">{{selected_workPlan.title}}</h1>
			    	<p>{{selected_workPlan.lastUpdated}}</p>
			    	<div class="ta-right wd-65">
			    		<md-button class="md-raised md-accent" data-ng-click="preview(selected_workPlan.src,selected_workPlan)" title="Download {{selected_workPlan.title}}">Download</md-button>	
			    	</div>
			    	<md-content id="work-plan__iframe">	    		
			    		<div class="ta-left">
			    			<iframe src="{{selected_workPlan.src}}" style="min-width:700px;height:550px;" frameborder="0"></iframe>
			    		</div>
			    	</md-content>
				</md-content>
			</md-tab>
			<md-tab label="BO Roadmap" data-ng-if="selected_workPlan.bo.length > 0">
				<md-content class="md-padding">
					<h1 class="md-display-2">BO Roadmap</h1>
					<div flex="100" layout-fill layout="row" layout-wrap>   
			            <md-card flex="45" layout="row" data-ng-repeat="(k,rmap) in selected_workPlan.bo" class="card-container">
			                <md-card-title flex="70">
			                    <md-card-title-text class="ta-left">
			                        <span class="md-headline" title="{{rmap.title}}" style="font-size:1em;line-height:1em;">{{rmap.title}}</span>
			                    </md-card-title-text>
			                </md-card-title>
			                <md-card-actions flex="30" layout="row" layout-align="end center">
			                    <md-button class="md-accent" data-ng-if="rmap.file_url" data-ng-click="preview(rmap.file_url,rmap)" alt="Download {{rmap.title}}"  title="Download {{rmap.title}}"><strong>Download</strong></md-button>
			                </md-card-actions>
			            </md-card>
			        </div>
				</md-content>
			</md-tab>
		</md-tabs>
	    <div data-ng-show="selected_workPlan.bo.length===0">
	    	<h1 class="md-display-2 mrgn-bt-0 padd-bt-0">{{selected_workPlan.title}}</h1>
	    	<p>{{selected_workPlan.lastUpdated}}</p>
	    	<div class="ta-right wd-65">
	    		<md-button class="md-raised md-accent" data-ng-click="preview(selected_workPlan.src,selected_workPlan)" title="Download {{selected_workPlan.title}}">Download</md-button>	
	    	</div>
	    	<md-content id="work-plan__iframe">	    		
	    		<div class="ta-left">
	    			<iframe src="{{selected_workPlan.src}}" style="min-width:700px;height:550px;" frameborder="0"></iframe>
	    		</div>
	    	</md-content>
	    </div> -->
	</div>
</div>
