<header class="wd-100">   
    <div class="mxw-80 ta-left" id="header-wrapper">
        <p>WHAT IS EITI</p>
        <h1 class="md-display-2">History</h1>
    </div>   
</header>

<div class="w-100" id="breadcrumb-wrapper">
    <div class="mxw-80">
        <md-button data-ng-href="../What-is-EITI" class="md-fab md-mini md-primary" aria-label="Back to What is EITI" title="Back to What is EITI">
            <md-icon md-svg-src="../images/icons/svg/ic_navigate_before_white_24px.svg"></md-icon>
        </md-button>
    </div>
</div>

<div class="w-100">
    <div class="mxw-80">
        <timeline >
            <!-- can also hard-code to side="left" or side="right" -->
            <timeline-event ng-repeat="(k,event) in events" data-ng-init="useSide = (k%2)===0 ? 'right' : 'left'" side="{{useSide}}">
                <!-- uses angular-scroll-animate to give it some pop -->
                <timeline-badge class="{{event.badgeClass}} timeline-hidden" when-visible="animateElementIn" when-not-visible="animateElementOut">
                    <span class="glyphicon {{event.badgeIconClass}}" style="font-size:0.85em;"><span data-ng-show="event.start===true">{{event.year}}</span></span>
                </timeline-badge>
                <!-- uses angular-scroll-animate to give it some pop -->
                <timeline-panel class="{{event.badgeClass}} timeline-hidden" when-visible="animateElementIn" when-not-visible="animateElementOut">
                    <timeline-heading>
                        <h4 class="mrgn-0 padd-0" align="{{(useSide==='right' ? 'left' : 'right')}}">{{event.when}}</h4>
                        <div data-ng-class="{'ta-left': useSide==='right', 'ta-right': useSide==='left'}" class="mrgn-0 padd-0">
                            <small class="fnt--md fnt--gray">{{event.year}}</small>    
                        </div>
                        <!-- <p ng-if="event.when">
                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{event.when}}</small>
                        </p> -->
                        <p ng-if="event.titleContentHtml" ng-bind-html="event.titleContentHtml"></p>
                    </timeline-heading>
                    <p ng-bind-html="event.contentHtml"></p>
                    <timeline-footer ng-if="event.footerContentHtml">
                        <span ng-bind-html="event.footerContentHtml"></span>
                    </timeline-footer>
                </timeline-panel>
            </timeline-event>
        </timeline>
    </div>
</div>