<header class="wd-100">   
    <div class="mxw-80 ta-left">
        <h5 style="padding-bottom:0;margin-bottom:0;">WHAT IS EITI?</h5>
        <h1 class="md-display-2" style="margin-top:0;padding-top:0;">The EITI Principles</h1>  
    </div>   
</header>

<div class="w-100">
    <div class="mxw-80">
		The EITI Principles provide the cornerstone of the initiative. They are:
        <ol id="principles-list">
            <li>We share a belief that the prudent use of natural resource wealth should be an important engine for sustainable economic growth that contributes to sustainable development and poverty reduction, but if not managed properly, can create negative economic and social impacts.</li>
            <li>We affirm that management of natural resource wealth for the benefit of a country's citizens is in the domain of sovereign governments, to be exercised in the interests of their national development.</li>
            <li>We recognize that the benefits of resource extraction occur as revenue streams over many years and can be highly price dependent.</li>
            <li>We recognize that a public understanding of government revenues and expenditure over time could help public debate and inform choice of appropriate and realistic options for sustainable development.</li>
            <li>We underline the importance of transparency by governments and companies in the extractive industries and the need to enhance public financial management and accountability.</li>
            <li>We recognize that achievement of greater transparency must be set in the context of respect for contracts and laws.</li>
            <li>We recognize the enhanced environment for domestic and foreign direct investment that financial transparency may bring.</li>
            <li>We believe in the principle and practice of accountability by government to all citizens for the stewardship of revenue streams and public expenditure.</li>
            <li>We are committed to encouraging high standards of transparency and accountability in public life, government operations and in business,</li>
            <li>We believe that a broadly consistent and workable approach to the disclosure of payments and revenues is required, which is simple to undertake and to use.</li>
            <li>We believe that payments' disclosure in a given country should involve all extractive industry companies operating in that country.</li>
            <li>In seeking solutions, we believe that all stakeholders have important and relevant contributions to make -- including governments and their agencies, extractive industry companies, service companies, multilateral organisations, financial organisations, investors, and non-governmental organisations.</li>
        </ol>
	</div>
</div>