<header class="wd-100">   
    <div class="mxw-80 ta-left" id="header-wrapper">
        <p>WHAT IS EITI</p>
        <h1 class="md-display-2">The EITI Principles</h1>  
    </div>   
    <md-progress-linear data-ng-show="getPromise" class="md-secondary" md-mode="indeterminate"></md-progress-linear>     
</header>

<div class="w-100" id="breadcrumb-wrapper">
    <div class="mxw-80">
        <md-button data-ng-href="../What-is-EITI" class="md-fab md-mini md-primary" aria-label="Back to What is EITI" title="Back to What is EITI">
            <md-icon md-svg-src="../images/icons/svg/ic_navigate_before_white_24px.svg"></md-icon>
        </md-button>
    </div>
</div>

<div class="w-100">
    <div class="mxw-80"><br /></div>
</div>

<div class="w-100">
    <div class="mxw-80">
        {{page.text}}
        <ol id="principles-list">
            <li ng-repeat="item in page.principles">{{item}}</li>
        </ol>
	</div>
</div>